# Homework

## Problem 4

### Import the libraries

#### Import արեք pandas գրադարանը pd  անունով

### Import the dataset baby_names.txt, assign it to a variable called baby_names

### Import արեք baby_names.txt dataset-ը ու այն վերագրեք baby_names փոփոխականի

In [17]:
import pandas as pd
baby_names = pd.read_csv('data/baby_names.csv')

### See the first 10 entries.

### Տպեք առաջին 10 արժեքը

In [18]:
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Delete the columns 'Unnamed: 0' and 'Id'

### Ջնջեք 'Unnamed: 0' ու 'Id' սյուները

In [19]:
baby_names=baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

### Are there more male or female names in the dataset?

### Արդյոք dataset-ում ավելի շատ են կանացի թե տղամարդու անունները?

In [20]:
baby_names.groupby("Gender").size().idxmax()

'F'

### Delete the column 'Year'. Group the dataset by name and assign to names.

### Ջնջեք 'Year' սյունը. Խմբավորեք dataset-ը ըստ անունի ու վերագրեք արդյունքը names փոփոխականին

In [23]:
baby_names=baby_names.drop("Year",axis=1)

In [33]:
names=baby_names.groupby("Name")

### How many different names exist in the dataset?

### Քանի հատ տարբեր անուն կա dataset-ում?

In [36]:
len(names.size())

575

### What is the name with most occurrences?

### Որն է ամենաշատ հանդիպող անունը?

In [40]:
names.size().idxmax()

'Riley'

### What is the median name occurrence?

### Որն է անունների հանդիպման մեդիանը՞

In [41]:
names.size().median()

3.0

### Get a summary with the mean, min, max, std and quartiles.

### Ստացեք dataset-ի ամփոփում mean, min, max, std ու quartile-ներով

In [42]:
names.size().describe()

count    575.000000
mean       4.353043
std        3.662916
min        1.000000
25%        1.000000
50%        3.000000
75%        8.000000
max       12.000000
dtype: float64